/* body */

body {
	background-color: #fff;
}

/* header */
ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.options {
	/* display: block; */
	width: 20px;
}

/* .services {
	display: block;
	width: 20px;
} */

/* Footer */
.footer {
	background-color: #f2f2f2;
}
